#setting_plazart_404_page_content .format-setting .format-setting-inner{
    width: 100% !important;
}
#setting_plazart_copyright .format-setting .format-setting-inner{
    width: 100% !important;
}
.format-setting.no-desc > .format-setting-inner, .format-setting.wide-desc .format-setting-inner {
    width: 100% !important;
}
.format-setting .format-setting-inner{
    width: 50% !important;
}
#plazart_copyright_toolbar3{
    display: none;
}
#plazart_404_page_content_toolbar3{
    display: none;
}
/*end custom textarea*/

#setting_plazart_TzFontDefault{
    display: none;
}
#setting_plazart_TzFontSquirrel{
    display: none;
}
#setting_plazart_TzFontFami{
    display: none;
}
#setting_plazart_TzFontFaminy{
    display: none;
}

/*header font*/
#setting_plazart_TzFontHeadDefault{
    display: none;
}
#setting_plazart_TzFontHeadSquirrel{
    display: none;
}
#setting_plazart_TzFontHeadGoodurl{
    display: none;
}
#setting_plazart_TzFontFaminyHead{
    display: none;
}


#setting_plazart_TzFontMenuDefault{
    display: none;
}
#setting_plazart_TzFontMenuSquirrel{
    display: none;
}
#setting_plazart_TzFontMenuGoodurl{
    display: none;
}
#setting_plazart_TzFontFaminyMenu{
    display: none;
}


/*custom font*/
#setting_plazart_TzFontCustomDefault{
    display: none;
}
#setting_plazart_TzFontCustomSquirrel{
    display: none;
}
#setting_plazart_TzFontCustomGoodurl{
    display: none;
}
#setting_plazart_TzFontFaminyCustom{
    display: none;
}
#setting_plazart_TZBackgroundColor{
    display: none;
}

/* css background option*/
.background_pattern {
    width: 40px;
    height: 40px;
    border-radius: 0;
    padding: 2px;
}
#setting_plazart_background_pattern .format-setting .format-setting-inner{
    width: 100% !important;
}

/*==========================
CSS HOME PAGE SETTINGS
===========================*/
#section_TZModulePage .format-setting-inner{
    width: 100% !important;
}
#section_TZModuleQuote .format-setting-inner{
    width: 100% !important;
}

/*style option*/
#tab_TzFontMenu,
#tab_TzFontCustom,
#tab_TZBackground,
#tab_TZBody,
#tab_TzFontHeader{
    background: #ffffff;
    border: 0;
    display: none;

}
/*Home page settins*/

#tab_TZModuleAbout,
#tab_TZModuleServices,
#tab_TZModuleCompany,
#tab_TZModuleEvent,
#tab_TZModulePortfolio,
#tab_TZModuleBlog,
#tab_TZModulePage,
#tab_TZModulePage,
#tab_TZModuleQuote{
    background: #ffffff;
    border: 0;
    display: none;
}
/*Slide settins*/

#tab_TZNivoSetting,
#tab_TZZoomslider,
#tab_TZFlexslider,
#tab_TZRevslider{
    background: #ffffff;
    border: 0;
    display: none;
}
#setting_plazart_TZNivoCols,
#setting_plazart_TZNivorows,
#setting_plazart_TZNivoBackground,
#setting_plazart_TZNivoText,
#setting_plazart_TZNivoOpacity{
    display: none;
}
/*Portfolio settins*/
#tab_TZPortfolioFooter,
#tab_TZPageHeader{
    background: #ffffff;
    border: 0;
    display: none;
}
/*Timeline settins*/
#tab_TZTimelineHeader,
#tab_TZTimelineFooter{
    background: #ffffff;
    border: 0;
    display: none;
}
/*blog settins*/
#tab_TZBlogHeader,
#tab_TZBlogFooter{
    background: #ffffff;
    border: 0;
    display: none;
}
/*archive settins*/
#tab_TZArchivePageHeader,
#tab_TZArchivePageFooter{
    background: #ffffff;
    border: 0;
    display: none;
}


/*style option*/
body #page-ot_theme_options{
    max-width: 100%;
}
body .wrap.settings-wrap .ui-tabs-nav{
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 180px;
}
#option-tree-settings-api .ui-tabs{
    background: url("../images/ot-menu-bg.png") repeat-y scroll 0 0 #ffffff !important;
}

.wrap.settings-wrap .ui-tabs-nav li.ui-state-active{

    border: none;
    background:  #6D6D6D !important;
    margin-right: -0px;
    border-radius: 0;


}
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active a{
    color: white;

}


.wrap.settings-wrap .ui-tabs-nav li{
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #FFFFFF;
    color: #797979;
    display: block;
    font: bold 12px/18px sans-serif;
    padding: 7px 10px;
    text-decoration: none;

}
.wrap.settings-wrap .ui-tabs-nav li a{
    padding: 1px 5px 1px 12px;
}
#option-tree-header{
    border-radius: 2px 2px 0 0;
}
.format-setting-label {

    border-bottom: 0;
    margin: 0 0 3px;
    padding: 5px 0 1px;
    width: 100%;
}
.format-setting-wrap{
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 22px;
}
input.option-tree-ui-upload-input, input.option-tree-ui-input{
    padding: 6px;
}
.format-settings{
    padding: 0 0 20px;
}
/*position  about*/
#setting_plazart_TZAboutPosition .format-setting-wrap{
    border-bottom: 0;
    padding-bottom: 0;
}
#setting_tz_my_layout .option-tree-ui-radio-images{
    display: none;
}
#setting_tz_my_layout .option-tree-ui-radio-images:first-child{
    display: block;
}
#setting_tz_my_layout .format-setting-inner{
    height: 410px;
}
#setting_tz_my_layout .option-tree-ui-radio-images{
    position: absolute;
}
#setting_tz_my_layout .option-tree-ui-radio-images img{
    background: none !important;
    border: none !important;
    padding: 0 !important;
}
/*position services*/
#setting_plazart_TZServicesPosition .format-setting-wrap{
    border-bottom: 0;
    padding-bottom: 0;
}
#setting_tz_my_layout_services .option-tree-ui-radio-images{
    display: none;
}
#setting_tz_my_layout_services .option-tree-ui-radio-images:first-child{
    display: block;
}
#setting_tz_my_layout_services .format-setting-inner{
    height: 410px;
}
#setting_tz_my_layout_services .option-tree-ui-radio-images{
    position: absolute;
}
#setting_tz_my_layout_services .option-tree-ui-radio-images img{
    background: none !important;
    border: none !important;
    padding: 0 !important;
}
/*position Company*/
#setting_plazart_TZCompanyPosition .format-setting-wrap{
    border-bottom: 0;
    padding-bottom: 0;
}
#setting_tz_my_layout_Company .option-tree-ui-radio-images{
    display: none;
}
#setting_tz_my_layout_Company .option-tree-ui-radio-images:first-child{
    display: block;
}
#setting_tz_my_layout_Company .format-setting-inner{
    height: 410px;
}
#setting_tz_my_layout_Company .option-tree-ui-radio-images{
    position: absolute;
}
#setting_tz_my_layout_Company .option-tree-ui-radio-images img{
    background: none !important;
    border: none !important;
    padding: 0 !important;
}
/*position Event*/
#setting_plazart_TZEventPosition .format-setting-wrap{
    border-bottom: 0;
    padding-bottom: 0;
}
#setting_tz_my_layout_event .option-tree-ui-radio-images{
    display: none;
}
#setting_tz_my_layout_event .option-tree-ui-radio-images:first-child{
    display: block;
}
#setting_tz_my_layout_event .format-setting-inner{
    height: 410px;
}
#setting_tz_my_layout_event .option-tree-ui-radio-images{
    position: absolute;
}
#setting_tz_my_layout_event .option-tree-ui-radio-images img{
    background: none !important;
    border: none !important;
    padding: 0 !important;
}

/*position portfolio*/
#setting_plazart_TZPortfolioPosition .format-setting-wrap{
    border-bottom: 0;
    padding-bottom: 0;
}
#setting_tz_my_layout_portfolio .option-tree-ui-radio-images{
    display: none;
}
#setting_tz_my_layout_portfolio .option-tree-ui-radio-images:first-child{
    display: block;
}
#setting_tz_my_layout_portfolio .format-setting-inner{
    height: 410px;
}
#setting_tz_my_layout_portfolio .option-tree-ui-radio-images{
    position: absolute;
}
#setting_tz_my_layout_portfolio .option-tree-ui-radio-images img{
    background: none !important;
    border: none !important;
    padding: 0 !important;
}

/*position blog*/
#setting_plazart_TZPositionBlog .format-setting-wrap{
    border-bottom: 0;
    padding-bottom: 0;
}
#setting_tz_my_layout_blog .option-tree-ui-radio-images{
    display: none;
}
#setting_tz_my_layout_blog .option-tree-ui-radio-images:first-child{
    display: block;
}
#setting_tz_my_layout_blog .format-setting-inner{
    height: 410px;
}
#setting_tz_my_layout_blog .option-tree-ui-radio-images{
    position: absolute;
}
#setting_tz_my_layout_blog .option-tree-ui-radio-images img{
    background: none !important;
    border: none !important;
    padding: 0 !important;
}